<div class="row admin-toolbar">
    <div class="twelve columns">
        <a class="button button-primary" href="#/dashboard">back</a>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h2>{{eventAggregate.event.name}}</h2>
        <p>{{eventAggregate.event.dateandtime}}</p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h3>Customer Reservations</h3>
        <div ng-repeat="reservationAggregate in eventAggregate.reservations">
            <p><strong>{{reservationAggregate.metaData.order.firstname}} {{reservationAggregate.metaData.order.lastname}} - {{reservationAggregate.metaData.totalPrice}} {{currency}}:</strong></p>
            <ul>
                <li ng-repeat="reservation in reservationAggregate.reservations">
                    {{reservation.seat.name}}
                    <span ng-show="reservation.reservation.is_reduced"> (reduced)</span>
                    - <strong>{{reservation.price}} {{currency}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="six columns">
        <h3>Boxoffice Purchases</h3>
        <ul>
            <li ng-repeat="purchase in eventAggregate.boxofficePurchases">
                {{purchase.seat.name}} - <strong>{{purchase.price}} {{currency}}</strong>
            </li>
        </ul>
    </div>
</div>