<div class="row">
    <div class="twelve columns">
        <h2>{{eventAggregate.event.name}}</h2>
        <p>{{eventAggregate.event.dateandtime}}</p>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h2>Customer Reservations</h2>
    </div>
</div>
<div class="row" ng-repeat="order in eventAggregate.reservations">
    <div class="twelve columns">
        <ul>
            <li ng-repeat="reservation in order">
                {{reservation.seat_id}}
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h2>Boxoffice Purchases</h2>
    </div>
</div>
<div class="row" ng-repeat="order in eventAggregate.boxofficePurchases">
    <div class="twelve columns">
        <ul>
            <li ng-repeat="reservation in order">
                {{reservation.seat_id}}
            </li>
        </ul>
    </div>
</div>