<div class="row admin-toolbar">
    <div class="twelve columns">
        <a class="button button-primary" href="#/dashboard" translate>BACK BUTTON</a>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h2>{{event.name}}</h2>
        <p>{{event.dateandtime}}</p>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h3 translate>RESERVATIONS LIST TITLE</h3>
        <div ng-repeat="order in orders">
            <p><strong>{{order.firstname}} {{order.lastname}} - {{order.totalPrice}} {{currency}}:</strong></p>
            <ul>
                <li ng-repeat="reservation in order.reservations">
                    {{reservation.seat.name}}
                    <span ng-show="reservation.reservation.is_reduced"> (reduced)</span>
                    - <strong>{{reservation.price}} {{currency}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h3 translate>BOXOFFICE PURCHASES LIST TITLE</h3>
        <div ng-repeat="boxofficePurchase in boxofficePurchases">
            <p><strong>{{boxofficePurchase.boxoffice}} - {{boxofficePurchase.totalPrice}} {{currency}}</strong></p>
            <ul>
                <li ng-repeat="reservation in boxofficePurchase.reservations">
                    {{reservation.seat.name}}
                    <span ng-show="reservation.reservation.is_reduced"> (reduced)</span>
                    - <strong>{{reservation.price}} {{currency}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h3 translate>CUSTOMER PURCHASES LIST TITLE</h3>
        <div ng-repeat="customerPurchase in customerPurchases">
            <p><strong>{{customerPurchase.firstname}} {{customerPurchase.lastname}} - {{customerPurchase.totalPrice}} {{currency}}</strong></p>
            <ul>
                <li ng-repeat="reservation in customerPurchase.reservations">
                    {{reservation.seat.name}}
                    <span ng-show="reservation.reservation.is_reduced"> (reduced)</span>
                    - <strong>{{reservation.price}} {{currency}}</strong>
                </li>
            </ul>
        </div>
    </div>
</div>