language: node_js
node_js:
  - stable

sudo: false

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3 # give xvfb some time to start

script:
  - node_modules/.bin/karma start karma.conf.js --no-auto-watch --single-run --browsers=Firefox
  - codeclimate-test-reporter < coverage/*/lcov.info

addons:
    code_climate:
        repo_token: 65e8dbb60c4122ae34a35bc6d312a3d0d16984cbf78e6fc8267c7e52f82d40bc