<div class="row">
    <div class="twelve columns">
        <toolbar/>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <ul class="checkout-reservations">
            <li ng-repeat="reservation in reservations">
                <p class="reservation-release"><a class="button button-primary" ng-click="release(reservation)">✕</a></p>
                <h2>{{reservation.seat.name}}</h2>
                <p>{{reservation.category.name}}</p>
                <p>{{reservation.event.name}}, {{reservation.event.dateandtime}}</p>
                <p><label><input type="checkbox" ng-checked="{{reservation.isReduced}}" ng-click="toggleReduction(reservation)"> <translate>REDUCED</translate></label></p>
                <p class="reservation-price">{{reservation.price}} {{currency}}</p>
                <div class="clear"></div>
            </li>
        </ul>
    </div>
    <div class="six columns">
        <p class="expiration-time"><span translate>EXPIRATION TIME</span> {{expirationTimestamp.value * 1000 | date:'HH:mm'}}</p>
        <form class="checkout-form" name="checkoutForm" ng-submit="createOrder(data.title, data.firstname, data.lastname, data.email)">
            <select ng-model="data.title" name="title" required>
                <option value="m" translate>MR</option>
                <option value="f" translate>MRS</option>
            </select>
            <div class="hint" ng-show="checkoutForm.title.$touched && checkoutForm.title.$error.required" translate>PLEASE SELECT A TITLE</div> 
            <input type="text" ng-model="data.firstname" name="firstname" translate-attr="{ placeholder: 'FIRSTNAME' }" class="u-full-width" required>
            <div class="hint" ng-show="checkoutForm.firstname.$touched && checkoutForm.firstname.$error.required" translate>PLEASE ENTER A FIRSTNAME</div>
            <input type="text" ng-model="data.lastname" name="lastname" translate-attr="{ placeholder: 'LASTNAME' }" class="u-full-width" required>
            <div class="hint" ng-show="checkoutForm.lastname.$touched && checkoutForm.lastname.$error.required" translate>PLEASE ENTER A LASTNAME</div>
            <input type="email" ng-model="data.email" name="email" translate-attr="{ placeholder: 'EMAIL' }" class="u-full-width" required>
            <div class="hint" ng-show="checkoutForm.email.$touched && checkoutForm.email.$error.required" translate>PLEASE ENTER A VALID EMAIL ADDRESS</div>
            <input type="submit" ng-disabled="!checkoutForm.$valid" title="{{!checkoutForm.$valid ? 'PLEASE FILL IN ALL FIELDS' : '' | translate}}" translate-attr="{ value: 'RESERVE DEFINITELY' }" class="checkout button button-primary">
        </form>
    </div>
</div>