body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hide {
    display: none;
}

.error {
    margin-top:2em;
    background-color: #faa;
    padding:.2em;
    border-radius: .2em;
    font-weight: bold;
    font-size:1.5em;
    margin-bottom: 1em;
}

#loading, #loading-with-message div {
    margin-left:auto;
    margin-right:auto;
}

#loading-with-message {
    text-align:center;
}

.item-list {
    margin-top:0.5em;
    list-style:none;
    font-size:1.5em;
}

.item-list li {
    border-bottom:1px solid #333;
}

.item-list a {
    color:#333;
    text-decoration:none;
}

.item-list-row {
    padding:0.25em 0;
    list-style:none;
    font-size:1.2em;
    border-bottom:1px solid #333;
}

.item-list-row .text {
    margin-top:0.5em;
}

.selected-item-list-row-summary {
    font-weight:bold;
}

.item-list-row-details {
    padding-left:0.5em;
}

.checkout-reservations li {
    list-style: none;
    line-height: 1em;
    color:#333;
    padding:.5em;
    margin:2em 0;
    border-radius: .3em;
    border-width: 2px;
    border-color: #333;
    border-style: dotted;
} 

.checkout-reservations h2, .checkout-reservations p, .checkout-reservations label {
    margin:0;
    padding:.3em 0;
}

.checkout-reservations h2 {
    font-size:1.5em;
    font-weight:bold;
}

.checkout-reservations .reservation-release {
    float:right;
    font-size:1.5em;
    line-height:1em;
    margin-top:-.3em;
}

.checkout-reservations .reservation-release a {
    display:block;
    width:1em;
    padding:0 1.05em 0 0.3em;
    font-size:1.2em;
}

p.expiration-time {
    margin-top:2em;
    background-color: #faa;
    padding:.2em;
    border-radius: .2em;
    font-weight: bold;
}

a.action {
    background:#333;
    color:#eee;
    padding:.4em;
    cursor: pointer;
    text-decoration: none;
    font-size:1.2em;
}

.checkout-reservations .reservation-price {
    float:right;
    margin-top:-.1em;
    font-size:2em;
    font-weight: bold;
}

.checkout-reservations .clear {
    clear:both;
}

select {
    width:100%;
}

select, input[type=email], input[type=text], input[type=number], textarea {
    border-color:#333;
}

select:focus, input[type=email]:focus, input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border-color:#111;
}

input.ng-invalid.ng-touched, .button.with-hint {
    border-color:#998A00;
    border-width:2px;
    background:#FFF59B;
    box-shadow: 0 0 8px 2px #aaa;
}

.button.with-hint {
    margin-bottom:0;
}

.hint {
    margin-top:-20px;
    padding-top:10px;
    padding-left:5px;
    margin-bottom:5px;
    background: #FFF59B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.hint.blue {
    background:#aaddFF;
}

.select-notification {
    margin-top:-20px;
    padding-top:10px;
    padding-left:5px;
    margin-bottom:5px;
    background:#aaddFF;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input.button.button-primary, a.button.button-primary {
    background-color:#333;
    border-color:#333;
    cursor: pointer;
    margin:0;
}

input.button.button-primary:hover, input.button.button-primary:focus, a.button.button-primary:hover, a.button.button-primary:focus {
    background-color:#111;
    border-color:#111;
}

.checkout.button {
    width:100%;
}

.checkout.button.button-primary {
    /* background-color:#111;
    border-color:#111; */
    cursor: pointer;
    margin:0;
    margin-bottom:.5em;
    font-size:1.5em;
    padding:0em;
    height:1.7em;
}

.checkout.button.button-primary:hover, .checkout.button.button-primary:focus {
    /* background-color:#195;
    border-color:#195; */
}

input.checkout.button-primary[disabled], input.checkout.button[disabled], input.checkout.button-primary[disabled]:hover, input.checkout.button[disabled]:hover {
    background:#ccc;
    border-color: #ccc;
    text-shadow:none;
    cursor: default;
}