.event-list {
    margin-top:0.5em;
    list-style:none;
    font-size:1.5em;
}

.event-list li {
    border-bottom:1px solid #333;
}

.event-list a {
    color:#333;
    text-decoration:none;
}

.checkout-reservations li {
    list-style: none;
    line-height: 1em;
    color:#333;
    padding:.5em;
    margin:2em 0;
    border-radius: .3em;
    border-width: 2px;
    border-color: #333;
    border-style: dotted;
} 

.checkout-reservations h2, .checkout-reservations p, .checkout-reservations label {
    margin:0;
    padding:.3em 0;
}

.checkout-reservations h2 {
    font-size:1.5em;
    font-weight:bold;
}

.checkout-reservations .reservation-release {
    float:right;
    font-size:1.5em;
    line-height:1em;
    margin-top:-.3em;
}

.checkout-reservations .reservation-release a {
    display:block;
    width:1em;
    padding:0 1.05em 0 0.3em;
    font-size:1.2em;
}

.checkout-form {
    margin-top:2em;
}

a.action {
    background:#333;
    color:#eee;
    padding:.4em;
    cursor: pointer;
    text-decoration: none;
    font-size:1.2em;
}

.checkout-reservations .reservation-price {
    float:right;
    margin-top:-.1em;
    font-size:2em;
    font-weight: bold;
}

.checkout-reservations .clear {
    clear:both;
}

select {
    width:100%;
}

select, input[type=email], input[type=text], input[type=number], textarea {
    border-color:#333;
}

select:focus, input[type=email]:focus, input[type=text]:focus, input[type=number]:focus, textarea:focus {
    border-color:#111;
}

input.ng-invalid.ng-touched {
    border-color:#998A00;
    border-width:2px;
    background:#FFF59B;
    box-shadow: 0px 0px 8px 2px #aaa;
}

.hint {
    margin-top:-20px;
    padding-top:10px;
    padding-left:5px;
    margin-bottom:5px;
    background: #FFF59B;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

input.button.button-primary, a.button.button-primary {
    background-color:#333;
    border-color:#333;
    cursor: pointer;
    margin:0;
}

input.button.button-primary:hover, input.button.button-primary:focus, a.button.button-primary:hover, a.button.button-primary:focus {
    background-color:#111;
    border-color:#111;
}

input.button-primary[disabled], input.button[disabled], input.button-primary[disabled]:hover, input.button[disabled]:hover,
button[disabled], button[disabled]:hover, button.button-primary[disabled], button.button-primary[disabled]:hover {
    background:#ccc;
    border-color: #ccc;
    text-shadow:none;
    cursor: default;
}