.header-bottom {
    margin:.5em 0 .5em 0;
    border-bottom:3px solid #333;
}

.reservations-count {
    font-size:1.5em;
}

@media all and (max-width: 660px) {
    .header a.button {
        width:100%;
    }

    .header a.button {
        display:block;
        margin:.2em;
    }
}

.toolbar {
    display:none;
    position:fixed;
    top:0;
    left:0;
    right:0;
    padding:0 .5em .5em .5em;
    height:70px;
    background:#fff;
    border-bottom:3px solid #333;
}

.toolbar.visible {
    display:block;
}

.toolbar .reservations-count {
    float:left;
}

.toolbar .buttons {
    float:right;
}

.toolbar .mobile {
    display:none;
}

.toolbar .desktop {
    display:block;
}

@media all and (max-width: 660px) {
    .toolbar .mobile {
        display:block;
    }

    .toolbar .desktop {
        display:none;
    }

    .toolbar .buttons .button {
        padding:0 1em;
        line-height:2.5em;
        font-size:1.2em;
        height:2.5em;
    }
}