<div class="row dashboard-title-row">
    <div class="twelve columns">
        <h2>Events</h2>
    </div>
</div>
<div class="row dashboard-content-row" ng-repeat="event in events">
    <!-- view mode -->
    <div class="eight columns" ng-show="!event.isInEditMode">
        <span ng-class="{ 'hidden-item': !event.visible }">{{event.name}} - {{event.dateandtime}}</span>
    </div>
    <div class="four columns" ng-show="!event.isInEditMode">
        <a class="button button-primary" href="#/event/{{event.id}}/blocks">blocks</a>
        <a class="button button-primary" ng-click="delete(event)">delete</a>
        <a class="button button-primary" ng-click="event.isInEditMode = true">edit</a>
    </div>
    <!-- /view mode -->

    <!-- edit mode -->
    <form ng-submit="save(event)" ng-show="event.isInEditMode">
        <div class="eight columns">
            <label for="event-name-{{event.id}}">Name</label>
            <input type="text" ng-model="event.name" id="event-name-{{event.id}}">
            <label for="event-location-{{event.id}}">Location name</label>
            <input type="text" ng-model="event.location" id="event-location-{{event.id}}">
            <label for="event-location_address-{{event.id}}">Location address</label>
            <textarea ng-model="event.location_address" id="event-location_address-{{event.id}}"></textarea>
            <label for="event-location_directions_public_transport-{{event.id}}">Directions public transports</label>
            <textarea ng-model="event.location_directions_public_transport" id="event-location_directions_public_transport-{{event.id}}"></textarea>
            <label for="event-location_directions_car-{{event.id}}">Directions car</label>
            <textarea ng-model="event.location_directions_car" id="event-location_directions_car-{{event.id}}"></textarea>
            <label for="event-dateandtime-{{event.id}}">Date and Time</label>
            <input type="text" ng-model="event.dateandtime" id="event-dateandtime-{{event.id}}">
            <label for="event-visible-{{event.id}}"><input type="checkbox" ng-model="event.visible" id="event-visible-{{event.id}}"> Visible</label>
        </div>
        <div class="four columns">
            <a class="button button-primary" ng-click="cancel()">cancel</a>
            <input type="submit" class="button button-primary" value="save">
        </div>
    </form>
    <!-- /edit mode -->
</div>
<div class="row dashboard-button-row" ng-show="events | isAnyEventTransient">
    <div class="twelve columns">
        <a class="button button-primary dashboard-list-button" ng-click="create()">add</a>
    </div>
</div>