<div class="row admin-toolbar">
    <div class="twelve columns">
        <a class="button button-primary" href="#/dashboard">back</a>
        <a class="button button-primary" ng-click="save(block)">save</a>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <h2>Edit image of block "{{block.name}}"</h2>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <ng-image-upload ng-model="block.seatplan_image_data_url"></ng-image-upload>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        <img ng-src="{{block.seatplan_image_data_url}}">
    </div>
</div>