<reservations></reservations>
<div class="row dashboard-content-row danger-message" ng-show="!showEditArea">
    <div class="eight columns">
        <p translate>DANGER ZONE ALERT</p>
    </div>
    <div class="four columns">
        <a class="button button-primary" ng-click="show()" translate>DANGER ZONE BUTTON</a>
    </div>
</div>

<div ng-show="showEditArea">
    <events></events>
    <blocks></blocks>
    <categories></categories>
    <div class="row dashboard-content-row">
        <div class="twelve columns">
            <a ng-click="migrate()" class="button button-primary" translate>MIGRATE BUTTON</a>
        </div>
    </div>
</div>